html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400, 500, 600;
  font-style: normal;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  height: 800px;
  background-color: #E1FF8F;
  background-image: url(img/startop.svg);
  background-repeat: no-repeat;
  background-position: calc(100% + 375px) calc(0% - 335px);
  background-size: auto;
}

.top__content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 769px;
  padding-top: 196px;
}

.top__title {
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  color: rgb(32, 32, 39);
  text-align: left;
}

.top__text {
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  padding-top: 24px;
  max-width: 720px;
}

.top__button {
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  width: 247px;
  height: 66px;
  margin-top: 48px;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  text-align: center;
}
.top__button:hover {
  background: white;
  color: black;
}

.info-box {
  background-color: #202027;
  background-image: url(img/starinfo.svg);
  min-height: 1470px;
  background-repeat: no-repeat;
  background-position: calc(100% + 35px) calc(0% - 35px);
  background-size: auto;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-top: 94px;
  padding-bottom: 50px;
}

.heading {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
}

.info__text {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  max-width: 788px;
  margin-top: 24px;
}

.info__content {
  margin-top: 72px;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.content-block1 {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.content-block2 {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.content-block3 {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  border-radius: 30px;
  box-shadow: 0px 12.61px 42.25px -7.57px rgba(0, 0, 0, 0.13);
  background: rgb(255, 255, 255);
  width: 378px;
  transition: transform 0.2s;
}
.content:hover {
  transform: scale(1.05);
}

.content__item {
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex-wrap: wrap;
  margin: 32px;
  gap: 16px;
}

.content__number {
  border-radius: 52.58px;
  background: rgb(247, 247, 247);
  width: 108px;
  height: 36px;
  color: rgb(32, 32, 39);
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content__name {
  color: rgb(32, 32, 39);
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  text-align: left;
}

.game-box {
  background-color: #202027;
  background-image: url(img/ministar.svg);
  background-repeat: no-repeat;
  background-position: calc(90% + 35px) calc(0% + 100px);
  background-size: auto;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-top: 46px;
  padding-bottom: 144px;
}

.game__content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
  margin-top: 72px;
}

.content-right {
  grid-column: span 12;
  display: flex;
  flex-direction: row-reverse;
  border-radius: 30px;
  box-shadow: 0px 12.61px 42.25px -7.57px rgba(0, 0, 0, 0.13);
  background: rgb(255, 255, 255);
  height: 500px;
}

.content-left {
  grid-column: span 12;
  display: flex;
  flex-direction: row;
  border-radius: 30px;
  box-shadow: 0px 12.61px 42.25px -7.57px rgba(0, 0, 0, 0.13);
  background: rgb(255, 255, 255);
  height: 500px;
}

.game__item {
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex-wrap: wrap;
  margin: 48px;
  width: 600px;
}

.game__name {
  color: rgb(32, 32, 39);
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  text-align: left;
}

.game__text {
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  padding-top: 24px;
}

.button-play {
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  width: 247px;
  height: 66px;
  margin-top: 36px;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  text-align: center;
}
.button-play:hover {
  background: white;
  color: black;
}

.footer-box {
  height: 800px;
  background-color: rgb(189, 237, 53);
  height: 150px;
}

.footer__content {
  display: flex;
  justify-content: center;
}

.footer__text {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  text-align: center;
  padding-top: 61px;
}

@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: start;
    background-image: url(img/starmobil.svg);
    background-position: calc(100% + 125px) calc(0% - 95px);
  }
  .top__content {
    width: 342px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 147px;
  }
  .top__title {
    font-size: 40px;
    line-height: 49px;
    text-align: center;
  }
  .top__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
  }
  .top__button {
    width: 285px;
    height: 55px;
    font-size: 16px;
    margin-top: 36px;
  }
  .info-box {
    display: none;
  }
}
@media (max-width: 340px) {
  .top {
    background-position: -20% 2000%;
  }
}/*# sourceMappingURL=stylegame.css.map */